.App {
  text-align: center;
  background-image: url("../public/images/1412206.jpg");
  min-height: 100vh;
  animation: Appscroll 60s linear infinite;
}

@keyframes Appscroll {
  0% {
    background-position : 0px 0px
  }
  100% {
    background-position : 0px -808px
  }
}

/* Create Recipe Form CSS */


.recipe-form-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
}

.create-recipe {
  margin-top: 10px;
}

.header {
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
  font-size: 2em;
  font-weight: 600;
}

.recipe-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.name-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.name-input span {
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 5px;
}

.name-input input {
  width: 100%;
  height: 2em;
  border-radius: 5px;
  background-color: rgb(152, 152, 152);
}

.ingredients-input {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  align-items: flex-start;
}

.ingredients-input textarea {
  width: 100%;
  height: 90%;
  border-radius: 5px;
  resize: none;
  background-color: rgb(152, 152, 152);
}

.ingredients-input span {
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 5px;
}

.instructions-input {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  align-items: flex-start;
  margin-left: 15px;
}

.instructions-input span {
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 5px;
}

.instructions-input textarea {
  width: 100%;
  resize: none;
  border-radius: 5px;
  height: 90%;
  background-color: rgb(152, 152, 152);
}

.ingredients-instructions {
  display: flex;
  height: 500px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* Buttons CSS */

.btn-submit {
  padding: 10px;
  font-size: 20px;
  color: whitesmoke;
  font-weight: bold;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: none;
  text-align: center;
  background-color: rgb(20, 162, 187);
  transition: 0.5s;
}

.btn-submit:hover{
  color: rgb(41, 163, 185);
  background-color: white;
  border:1px solid rgb(0, 157, 255);
  box-shadow: 0 0 15px rgb(1, 122, 143);
  transition: 0.5s;
  border-radius: 15px;
}


/* Recipe Details Display */
.display-recipe-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(147, 147, 147);
  width: 80%;
  margin: auto;
  margin-top: 2em;
  height: 750px;
  align-items: flex-start;
  border-radius: 10px;
}

.display-recipe-name {
  padding: 10px;
  align-self: center;
  font-size: 1.5em;
  font-weight: 500;
}

.display-recipe-ingredients {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.display-instructions {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.display-instructions-label, .display-ingredients-label {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 10px;
}

.display-ingredient-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* <div className="comment-container">
<textarea className="comment-input"></textarea>
<button className="post-comment">Post</button>
</div> */
/* Comments CSS */
.comment-form-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 2em;
  height: 250px;
  align-items: flex-start;
  border-radius: 10px;
}

.comment-input {
  width: 100%;
  resize: none;
  border-radius: 5px;
  height: 250px;
  background-color: rgb(255, 255, 255);
}

.post-comment {
  width: 250px;
  margin: 20px 0;
  align-self: flex-end;
}

/* Preview CSS */

.recipe-preview {
  font-size: 2em;
  font-weight: 500;
  text-shadow: rgb(255, 255, 255) 1px 0 10px;

}

/* <div className="comments-list">
{comments.map((com) => {
  return <div>
    <p className="comment">{com.comment}</p>
    <span className="comment-author">{com.author}</span>
  </div>
})}
</div> */

/* Comment CSS */

.comments-list {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  border-radius: 10px;
}

.comment-list-container {
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
  height: 150px;
  flex-direction: column;
  flex-wrap: wrap;
}

.comment {
  align-self: flex-start;
}

.comment-author {
  align-self: flex-end;
}

.comment-list-container:nth-child(even) {
  background-color: lightyellow;
  border-radius: 5px;
}

.comment-list-container:nth-child(odd) {
  background-color: rgb(156, 255, 165);
  border-radius: 5px;
}

/* <div className="signup-container">
<div className="header">Sign Up</div>
<form className="signup-form" onSubmit={(e) => {submitUser(e)}}>
  <label className="username-input">
  <span>Username:</span>
    <input id="username" value={username} onChange={(event) => {valSetter(event)}} type="text" name="username" placeholder='Username...' />
  </label>
  <div className="password-input">
    <span>Password:</span>
    <input id="password" value={password} onChange={(event) => {valSetter(event)}} type="password" name="password" placeholder='Password...' />
  </div>
  <div className="email-input">
    <span>Email:</span>
    <input id="email" value={email} onChange={(event) => {valSetter(event)}} type="Email" name="Email" placeholder='Email...' />
  </div>
  <button className="create" type="submit"> Sign Up </button>
</form>
</div> */

/* Sign Up CSS */
.signup-container {
  width: 25%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  height: 30em;
  align-items: center;
  justify-content: center;
}

.header {}

.signup-form {
  padding: 10px;
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.username-input, .password-input, .email-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.username-input span, .password-input span, .email-input span {
  font-size: 1.5em;
  font-weight: 500;
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
  display: none;
}

#username, #password, #email {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
}

.password-input {}

.password-input span {}

#password {}

.email-input {}

.email-input span {}

#email {}


/* <div className="login-form-container">
<div className="header">Login</div>
<form className="login-form" onSubmit={(e) => {login(e)}}>
  <label className="username-input">
  <span>Username:</span>
    <input id="username" value={username} onChange={(event) => {valSetter(event)}} type="text" name="username" placeholder='Username...' />
  </label>
  <div className="password-input">
    <span>Password:</span>
    <input id="password" value={password} onChange={(event) => {valSetter(event)}} type="password" name="password" placeholder='Password...' />
  </div>
  <button className="create" type="submit"> Login </button>
</form>
</div> */

/* Login CSS */

.login-form-container {
  width: 25%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  height: 30em;
  align-items: center;
  justify-content: center;
}

.login-form {
  padding: 10px;
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* TODO:check parallax */