:root {
  --primary-colour: #ff6f61; /* Main accent color for headers and important elements */
  --secondary-colour: #7ea3af; /* Secondary color for buttons and highlights */
  --background-colour: #f0f0f0; /* Background color for cards, forms, and sections */
  --text-colour: #333333; /* Text color for content, headings, and descriptions */
  --accent-colour: #78ab46; /* Accent color for icons, borders, and focus states */
  --main-background-colour: #ffffff; /* Main background color for the entire app */
  --tertiary-colour: #ffcc33; /* For call-to-action buttons, links, or icons */
  --success-colour: #4caf50; /* To indicate success, like when a user performs a positive action */
}

.App {
  text-align: center;
  background-attachment: fixed;
  min-height: 100vh;
  width: 80%;
  margin: auto;
  background-color: var(--main-background-colour);
  padding: 2em;
}

body {
  overflow:   scroll;
  background-color: #78ab46;
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@keyframes Appscroll {
  0% {
    background-position : 0px 0px
  }
  100% {
    background-position : 0px -808px
  }
}

/* Generic Buttons CSS */

button {
  cursor: pointer;
}

.btn-submit {
  padding: 10px;
  font-size: 20px;
  color: var(--text-colour);
  font-weight: bold;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: none;
  text-align: center;
  background-color: var(--background-colour);
  transition: 0.5s;
}

.btn-submit:hover,
.add-meal:hover {
  color: var(--accent-color);
  background-color: white;
  border:1px solid var(--accent-color);
  box-shadow: 0 0 15px var(--accent-color);
  transition: 0.5s;
  border-radius: 15px;
}

.favourite:focus {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  color: #1892BF;
  border-color: #1892BF;
  background: transparent;
  margin: 0px 3px;
  padding: 7px 14px;
  outline: 0;
  margin-left: 20px;
}

.unfavorite-text {
  display: none;
}

/* Preview CSS */

.recipe-preview {
  font-size: 2em;
  font-weight: 500;
}


/* Comment CSS */

.comments-list {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  border-radius: 10px;
}

.comment-list-container {
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
  height: 150px;
  flex-direction: column;
  flex-wrap: wrap;
}

.comment {
  align-self: flex-start;
}

.comment-author {
  align-self: flex-end;
}

.comment-list-container:nth-child(even) {
  background-color: lightyellow;
  border-radius: 5px;
}

.comment-list-container:nth-child(odd) {
  background-color: rgb(156, 255, 165);
  border-radius: 5px;
}

/* Sign Up CSS and Login */
.signup-container {
  width: 25%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  height: 30em;
  align-items: center;
  justify-content: center;
}


.signup-form {
  padding: 10px;
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.username-input, .password-input, .email-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.username-input span, .password-input span, .email-input span {
  font-size: 1.5em;
  font-weight: 500;
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
  display: none;
}

#username, #password, #email {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
}


/* CSS Buttons */

.btn-1,
.btn-2 {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
/* Created by http://grohit.com/  */
footer a,
.btn-1 a,
.btn-2 a {
  text-decoration: none;
  border: 2px solid var(--tertiary-colour);
  padding: 15px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  background-color: var(--tertiary-colour);
}

span {
  position: relative;
  /* z-index coz when we put bg to before and after this span text will not be visible */
  z-index: 3;
}

/* Button 1 styles */

.btn-1 a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  /*100% plus double the times left values*/
  height: calc(100% - 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.btn-1 a:hover::before,
.btn-2 a:hover::before {
  transform: scaleY(0);
}

.btn-1 a::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  /*100% plus double the times left values*/
  height: calc(100% + 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}
/* Created by http://grohit.com/  */

.btn-1 a:hover::after,
.btn-2 a:hover::after {
  transform: scaleX(0);
}

/* Button 2 styles */

.btn-2 a {
  color: var(--tertiary-colour);
  transition: all 0.5s ease-in-out;
}

.btn-2 a:hover {
  color: #000000;
  transition: all 0.5s ease-in-out;
}

.btn-2 a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.btn-2 a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}


/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/* Recipe Preview CSS */

.recipe-preview-container {
  width: 60%;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid black; */
  height: 200px;
  border-radius: 10px;
  padding: 1em;
  transition: 0.5s ease;
}

.recipe-preview-name {
  display: flex;
  font-size: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  align-self: flex-start;
}

.recipe-preview-container:hover{
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  transition: 0.5s ease;
  cursor: pointer;
  }

.recipe-preview-container:nth-child(even) {
  background-color: var(--accent-colour);
}

.recipe-preview-container:nth-child(odd) {
  background-color: var(--secondary-colour);
}

.recipe-preview-description{
  font-size: 1.2em;
}

/* Surprise Meal CSS */

.surprise-meal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  color: var(--text-colour);
}

.surprise-meal .header {
  display: flex;
  margin-top: 3em;
  padding: auto;
}

.generate {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  background-color: rgba(243, 233, 233, 0.3);
  border-radius: 10px;
}

.generate-btn {
  text-decoration:none;
  font-size:25px;
  color: var(--secondary-color);
  padding:20px 50px;
  border:3px solid #000000;
  position:relative;
  /* margin: 1em; this is for when adding a the new feature */
  position:relative;
  margin: 3em;
}
.generate-btn::before,
.generate-btn::after{
  content:" ";
  position:absolute;
  width:40px;
  height:40px;
  border:inherit;
  transition:all .5s;
}
.generate-btn::before{
  top:-15px;
  left:-15px;
  border-width:3px 0 0 3px;
}
.generate-btn::after{
  bottom:-15px;
  right:-15px;
  border-width:0 3px 3px 0;
}
.generate-btn:hover::before,
.generate-btn:hover::after{
  width:calc(100% + 27px);
  height:calc(100% + 27px);
  border:3px solid #ffffff;
  color:#ffffff;
}


select{
  width: 10%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 5px;
  padding: 10px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  background-color: rgb(255, 255, 255);
  background-image: none;
}
select>option{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  background-color: rgb(247, 247, 247);
  background-image: none;
  font-size: 18px;
  height: 50px;
  padding: 15px;
}

.yay-or-nay {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 1em;
  align-self: center;
}

.yay {
  border-color:rgb(0, 225, 255);
}

.nay {
  border-color:rgb(255, 0, 76);
}
  

/* Generate Menu CSS */

.menu-options-main {
  display: flex;
  flex-direction: column;
}

.menu-input{
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #f3f3f3; /* Light gray */
  border-top: 4px solid #3498db; /* Blue */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}