
.profile-container {
  width: 100%;
  height: 100vh;
  border-radius: 10px;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-label {
  font-size: 2em;
}

.user-profile {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-top: 1em;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}

.user-recipes {
  display: flex;
  flex-direction: row;
  width: 60%;
  padding: 1em;
  height: 100%;
  justify-content: center;
  background-color: var(--secondary-color) ;
}


.user-food-favourites {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.content {
  overflow-x:scroll;
}


#recipe-label,
#plan-label {
  align-self: center;
  font-size: 2em;
  font-variant-caps: all-petite-caps;
}

.fav-name-con {
  display: flex;
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 0.5rem;
  width: 90%;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
}

.fav-name,
.meal {
  font-size: 25px;
  height: 1.2em;
  flex-wrap: wrap;
  overflow:hidden;
}

.breakfast,
.lunch,
.dinner {
  height: 33%;
  display: flex;
  flex-direction: column;
}

#plan-label,
#recipe-label {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  width: 80%;
}

.remove-fav {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid black;
}

.remove-fav:hover {
  background-color: rgb(255, 255, 255);
  border: none;
}

.day-plan,
.fave {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}