/* Recipe Details Display */
.display-recipe-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 2em;
  align-items: flex-start;
  border-radius: 10px;
  color: var(--text-colour);
  background-color: var(--background-colour);
}

.name-author {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  width: 80%;
  align-self: center;

}

.display-recipe-name {
  align-self: center;
  font-size: 1.5em;
  font-weight: 500;
  color: var(--sec);
  background-clip: text;
  -webkit-background-clip: text;
  width: 100%;
}

.display-recipe-ingredients {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.1em;

}

.display-instructions {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.1em;
  margin-bottom: 1em;
}

.display-instructions-label, .display-ingredients-label {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 10px;
}

.display-ingredient-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-meal-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  margin-bottom: 2rem;
}

.ingred {
  text-decoration: none;
  color: var(--text-colour);
}

.add-meal {
  width: 15em;
  margin: none;
  text-decoration:none;
  font-size:1.5em;
  color:var(--text-color);
  padding:10px 10px;
  border:1px solid var(--secondary-colour);
  position:relative;
  border-radius: 10px;
  width: 20%;
  &:hover {
    background-color: var(--secondary-colour);
    border: 1px solid var(--accent-color);
    box-shadow: 0 0 15px var(--secondary-colour);
    border-radius: 15px;
    transition: 0.5s;
  }
}

/* Comments CSS */
.comment-form-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 2em;
  height: 250px;
  align-items: flex-start;
  border-radius: 10px;
}

.comment-input {
  width: 100%;
  resize: none;
  border-radius: 5px;
  height: 250px;
  background-color: rgba(255, 255, 255 0.3);
}

.post-comment {
  width: 250px;
  margin: 20px 0;
  align-self: flex-end;
}